In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:

# Importing Data 
from sklearn.datasets import load_boston 
boston = load_boston()

In [5]:
data = pd.DataFrame(boston.data) 
data.columns = boston.feature_names 
  
data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [7]:
# Adding 'Price' (target) column to the data  

data['Price'] = boston.target 
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

# Scaling down the features:

In [8]:
feature_scale= [feature for feature in data.columns if feature not in ['Price']]

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler=StandardScaler()

In [12]:
scaler.fit(data[feature_scale])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [13]:
scaler.transform(data[feature_scale])

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [21]:
#adding back the columns for train dataset:

data=pd.concat([data[['Price']].reset_index(drop=True),
                pd.DataFrame(scaler.transform(data[feature_scale]),columns=feature_scale)],axis=1)

In [22]:
data.head()

,Price,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,24.0,-0.469369,-0.475498,-1.812878,-1.346909,-6.037437,-8.364118,-2.442830,-1.737393,-1.210791,-2.428595,-9.207734,-3.905866,-1.924393
1,21.6,-0.469085,-0.508655,-1.711540,-1.346909,-11.186268,-8.676684,-2.425506,-1.539190,-1.197575,-2.430500,-8.673286,-3.905866,-1.842655
2,34.7,-0.469085,-0.508655,-1.711540,-1.346909,-11.186268,-7.126030,-2.448015,-1.539190,-1.197575,-2.430500,-8.673286,-3.906355,-1.943060
3,33.4,-0.469016,-0.508655,-1.815646,-1.346909,-12.007096,-7.505575,-2.467363,-1.291723,-1.184359,-2.431205,-8.480885,-3.906139,-1.964477
4,36.2,-0.468519,-0.508655,-1.815646,-1.346909,-12.007096,-7.203157,-2.456741,-1.291723,-1.184359,-2.431205,-8.480885,-3.905866,-1.917516

In [27]:
y=data[['Price']]

In [28]:
X=data[['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']]

In [29]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.469369,-0.475498,-1.812878,-1.346909,-6.037437,-8.364118,-2.442830,-1.737393,-1.210791,-2.428595,-9.207734,-3.905866,-1.924393
1,-0.469085,-0.508655,-1.711540,-1.346909,-11.186268,-8.676684,-2.425506,-1.539190,-1.197575,-2.430500,-8.673286,-3.905866,-1.842655
2,-0.469085,-0.508655,-1.711540,-1.346909,-11.186268,-7.126030,-2.448015,-1.539190,-1.197575,-2.430500,-8.673286,-3.906355,-1.943060
3,-0.469016,-0.508655,-1.815646,-1.346909,-12.007096,-7.505575,-2.467363,-1.291723,-1.184359,-2.431205,-8.480885,-3.906139,-1.964477
4,-0.468519,-0.508655,-1.815646,-1.346909,-12.007096,-7.203157,-2.456741,-1.291723,-1.184359,-2.431205,-8.480885,-3.905866,-1.917516

In [30]:
y.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

# Random Forest:Build Model

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
rfregressor=RandomForestRegressor()

# Train test split

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [34]:
rfregressor.fit(X_train,y_train)

C:\Users\K T KUMAR\Anaconda33\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\K T KUMAR\Anaconda33\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [35]:
print('Coeeficient of determination R^2 for train data :{}'.format(rfregressor.score(X_train,y_train)))

Coeeficient of determination R^2 for train data :0.9751949983285101

In [36]:
print('Coeeficient of determination R^2 for test data :{}'.format(rfregressor.score(X_test,y_test)))

Coeeficient of determination R^2 for test data :0.8272596269562182

In [37]:
#Interpretation:From the above R^2 values we can clearly see that it is agood model

#We have very less variance between the R^2 value of train and test data.